<a href="https://colab.research.google.com/github/Shiveringapple/MechineLearing/blob/main/Sentiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tensorflow as tf

dataset = tf.keras.utils.get_file(
    fname="aclImdb.tar.gz", 
    origin="http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz", 
    extract=True,
)
print("extract on:", dataset)

Downloading data from http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz
84131840/84125825 [==============================] - 9s 0us/step
extract on: /root/.keras/datasets/aclImdb.tar.gz

In [ ]:
import glob
import os
import pandas as pd
def getdata(dataset, t):
  dn = os.path.dirname(dataset)
  dn = os.path.join(dn, "aclImdb", t)
  pos = glob.glob(os.path.join(dn, "pos", "*.txt")) + glob.glob(os.path.join(dn, "pos", "*.TXT"))
  neg = glob.glob(os.path.join(dn, "neg", "*.txt")) + glob.glob(os.path.join(dn, "neg", "*.TXT"))
  contents=[]
  for fn in pos + neg:
    with open(fn, encoding="utf_8") as f:
      contents.append(f.read())
  df = pd.DataFrame({
      "content":contents,
      "sentiment":[1] * len(pos) + [0] * len(neg)
  })
  return df
train_df = getdata(dataset, "train")
test_df = getdata(dataset, "test")
train_df

                                                 content  sentiment
0      This movie leaves the intellectual mind thinki...          1
1      I love the movies and own the comics, the comi...          1
2      this movie I saw some 10 years ago (maybe more...          1
3      I've always liked Johnny Concho and I wish thi...          1
4      Based on an actual mining disaster, this early...          1
...                                                  ...        ...
24995  This was an impulse pick up for me from the lo...          0
24996  As an Altman fan, I'd sought out this movie fo...          0
24997  Before watching this film I had very low expec...          0
24998  I have seen Dolemite and also (Avenging) Disco...          0
24999  I do not recommend this movie , because it's i...          0

[25000 rows x 2 columns]

In [ ]:
test_df

                                                 content  sentiment
0      In 1984, Edgar Reitz surprised film-lovers all...          1
1      Here's another of the 1940's westerns that I w...          1
2      After seeing this DVD, I was floored. It is SO...          1
3      'Checking Out' is an extraordinary film that t...          1
4      Michael Polish's hypnotic "Northfork" is a fil...          1
...                                                  ...        ...
24995  Two days ago I got a chance to watch this movi...          0
24996  This screened at Sundance last night to a rece...          0
24997  ... And it's a not very good documentary eithe...          0
24998  The person who wrote the summary and rave revi...          0
24999  This is just one of those movies that continua...          0

[25000 rows x 2 columns]

# NLP 預處理
## 第一步：Tokenizer

### # 如果是中文： 先用分詞，空白鍵.join()

In [ ]:
from tensorflow.keras.preprocessing.text import Tokenizer
tok = Tokenizer(num_words=3000)
tok.fit_on_texts(train_df["content"])

In [ ]:
# token不會包括0，0是拿來padding用的
# tok.word_index
# len(tok.word_index)

# 第二步：to sequence (真的把詞轉成數字)

In [ ]:
x_train_seq = tok.texts_to_sequences(train_df["content"])
x_test_seq = tok.texts_to_sequences(test_df["content"])
pd.DataFrame(x_train_seq)

       0     1     2     3     4     5     ...  1810  1811  1812  1813  1814  1815
0        11    17   886     1  2766   327  ...   NaN   NaN   NaN   NaN   NaN   NaN
1        10   116     1    99     2   202  ...   NaN   NaN   NaN   NaN   NaN   NaN
2        11    17    10   216    46   155  ...   NaN   NaN   NaN   NaN   NaN   NaN
3       204   207   420  1802     2    10  ...   NaN   NaN   NaN   NaN   NaN   NaN
4       445    20    32   776  1685    11  ...   NaN   NaN   NaN   NaN   NaN   NaN
...     ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
24995    11    13    32  1259    53    15  ...   NaN   NaN   NaN   NaN   NaN   NaN
24996    14    32   334   471    43    11  ...   NaN   NaN   NaN   NaN   NaN   NaN
24997   156   146    11    19    10    66  ...   NaN   NaN   NaN   NaN   NaN   NaN
24998    10    25   107     2    79   104  ...   NaN   NaN   NaN   NaN   NaN   NaN
24999    10    78    21   383    11    17  ...   NaN   NaN   NaN   NaN   NaN   NaN

[25000 rows x 1816 columns]

# 第三步：padding 長度固定(截長truncating補短padding)

In [ ]:
from tensorflow.keras.preprocessing.sequence import pad_sequences
x_train_pad = pad_sequences(x_train_seq, maxlen=512)
x_test_pad = pad_sequences(x_test_seq, maxlen=512)
pd.DataFrame(x_train_pad)

       0    1    2    3    4    5    ...   506   507   508   509  510   511
0        0    0    0    0    0    0  ...    45  2813   673   431   21     3
1        0    0    0    0    0    0  ...   249    18  1395    47    6   207
2        0    0    0    0    0    0  ...     3   337   272   240    4    17
3        0    0    0    0    0    0  ...   177     8    29  1160    2   658
4        0    0    0    0    0    0  ...     8   356     6     3  461     8
...    ...  ...  ...  ...  ...  ...  ...   ...   ...   ...   ...  ...   ...
24995    0    0    0    0    0    0  ...   126   716   371  1129  398  1282
24996    0    0    0    0    0    0  ...     2    91  1875    25    1     4
24997    0    0    0    0    0    0  ...  1277  1876   206  1197    3    75
24998    0    0    0    0    0    0  ...    21    12    73   354   16    58
24999    0    0    0    0    0    0  ...   112   590     8     3  921   123

[25000 rows x 512 columns]

In [ ]:
from tensorflow.keras.layers import Embedding, Lambda, GlobalAveragePooling1D, Dense
from tensorflow.keras.models import Sequential
# 進來有幾種：input_dim = 3000 + 1(被padding占掉的0)
# 出來的情緒有幾種：output_dim
layers = [
    Embedding(3001, 256, mask_zero=True, input_length=512),
    GlobalAveragePooling1D(),
    Dense(2, activation="softmax")
]
# param = 3001*128 = 384128
model = Sequential(layers)
model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_3 (Embedding)      (None, 512, 128)          384128
_________________________________________________________________
global_average_pooling1d_1 ( (None, 128)               0
_________________________________________________________________
dense (Dense)                (None, 2)                 258
=================================================================
Total params: 384,386
Trainable params: 384,386
Non-trainable params: 0
_________________________________________________________________

In [ ]:
from tensorflow.keras.losses import SparseCategoricalCrossentropy
model.compile(loss=SparseCategoricalCrossentropy(),
       optimizer="adam",
       metrics=["accuracy"])

In [ ]:
import numpy as np
y_train = np.array(train_df["sentiment"])
y_test = np.array(test_df["sentiment"])

In [ ]:
from tensorflow.keras.callbacks import ModelCheckpoint, EarlyStopping
callbacks = [
    ModelCheckpoint("sentiment.h5", save_best_only=True),
    EarlyStopping(patience=5, restore_best_weights=True)
]
model.fit(x_train_pad,
     y_train,
     validation_split=0.1,
     batch_size=200,
     epochs=100,
     verbose=2,
     callbacks=callbacks)

Epoch 1/100
113/113 - 3s - loss: 0.6345 - accuracy: 0.6376 - val_loss: 0.6326 - val_accuracy: 0.6608
Epoch 2/100
113/113 - 3s - loss: 0.4675 - accuracy: 0.8244 - val_loss: 0.4809 - val_accuracy: 0.7784
Epoch 3/100
113/113 - 3s - loss: 0.3631 - accuracy: 0.8661 - val_loss: 0.3682 - val_accuracy: 0.8448
Epoch 4/100
113/113 - 3s - loss: 0.3131 - accuracy: 0.8814 - val_loss: 0.3612 - val_accuracy: 0.8412
Epoch 5/100
113/113 - 3s - loss: 0.2835 - accuracy: 0.8913 - val_loss: 0.3157 - val_accuracy: 0.8624
Epoch 6/100
113/113 - 3s - loss: 0.2640 - accuracy: 0.8994 - val_loss: 0.3391 - val_accuracy: 0.8528
Epoch 7/100
113/113 - 3s - loss: 0.2502 - accuracy: 0.9045 - val_loss: 0.3443 - val_accuracy: 0.8496
Epoch 8/100
113/113 - 3s - loss: 0.2392 - accuracy: 0.9092 - val_loss: 0.3472 - val_accuracy: 0.8520
Epoch 9/100
113/113 - 3s - loss: 0.2309 - accuracy: 0.9111 - val_loss: 0.3566 - val_accuracy: 0.8520
Epoch 10/100
113/113 - 3s - loss: 0.2240 - accuracy: 0.9140 - val_loss: 0.3278 - val_accuracy: 0.8624

In [ ]:
model.evaluate(x_test_pad, y_test)

In [ ]:
newl = [
    Embedding(3001, 256, mask_zero=True, input_length=1)
]
newmodel = Sequential(newl)
w = model.layers[0].get_weights()
newmodel.layers[0].set_weights(w)
n = tok_word_index["the"]
print("the長這樣：", newmodel.predict([[n]]))

我只懂3000個詞
看一本書
只要看到3000詞其中一字就打個圈圈
打出512圈圈叫做length
變成256個情緒
# 化繁為簡 化抽象為具體

###語意由上下文構成 -> 克漏字
###W2V：上下詞預測中間詞 
#### W2V應用：商品推薦、行程推薦、音樂推薦
分析你喜歡的 推薦跟你一樣類型的人的